<nav class="navbar navbar-expand-lg ddcc grayy">
    <div class="container-fluid">
        <a class="logocustom" href="/">
            <img src="/assets/icons/logo-sm.png" alt="logo easymanage" width="30" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown ddc dccd">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi bi-person-lines-fill spo"></i>
                        Gest. Cli/For </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/clifor/">
                                <i class="bi bi-person-rolodex spo"></i>
                                Lista Anagrafiche </a></li>
                        <li><a class="dropdown-item" href="/clifor/ins.php">
                                <i class="bi bi-person-fill-add spo"></i>
                                Inserisci Anagrafica </a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/clifor/set_azienda.php">
                                <i class="bi bi-building-check spo"></i>
                                Mod. dati Azienda Operante </a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown ddc ">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi bi-cart-fill spo"></i>
                        Acquisti </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/acquisti/">
                                <i class="bi bi-box-seam spo"></i>
                                Magazzino </a></li>
                        <li><a class="dropdown-item" href="/acquisti/ins.php">
                                <i class="bi bi-file-earmark-plus spo"></i>
                                Inserisci prodotto </a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/acquisti/insfattura.php">
                                <i class="bi bi-cart-plus spo"></i>
                                Registrazione acquisto </a></li>
                        <li><a class="dropdown-item" href="/acquisti/storico.php">
                                <i class="bi bi-clock-history spo"></i>
                                Storico fatture acquisto </a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/acquisti/tipologie.php">
                                <i class="bi bi-gear spo"></i>
                                Gest. Tipologie Prodotti </a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown ddc ">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi bi-cash-coin spo"></i>
                        Vendite </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/vendita/fattura.php">
                                <i class="bi bi-receipt-cutoff spo"></i>
                                Inserisci Fattura Vendita </a></li>
                        <li><a class="dropdown-item" href="/vendita/storico_fatture.php">
                                <i class="bi bi-currency-exchange spo"></i>
                                Storico Fatture Vendita </a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/vendita/ddt.php">
                                <i class="bi bi-truck spo"></i>
                                Inserisci DDT </a></li>
                        <li><a class="dropdown-item" href="/vendita/storico_ddt.php">
                                <i class="bi bi-database spo"></i>
                                Storico DDT </a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/vendita/wizard_ddt.php">
                                <i class="bi bi-gear spo"></i>
                                Conversione DDT <i class="bi bi-arrow-right"></i> Fattura </a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown ddc ">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi bi-journal-bookmark-fill spo"></i>
                        Diario Lavoro </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/diario/giornata.php">
                                <i class="bi bi-calendar-plus spo"></i>
                                Inserisci Giornata Lavorativa </a></li>
                        <li><a class="dropdown-item" href="/diario/giornate.php">
                                <i class="bi bi-calendar-day spo"></i>
                                Archivio Giornate Lavorative </a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/diario/posizioni.php">
                                <i class="bi bi-geo-alt spo"></i>
                                Posizioni Lavorative </a></li>
                        <li><a class="dropdown-item" href="/diario/aziende.php">
                                <i class="bi bi-bank spo"></i>
                                Aziende Operatrici </a></li>
                        <li><a class="dropdown-item" href="/diario/operatori.php">
                                <i class="bi bi-person-badge spo"></i>
                                Elenco Operatori </a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
    <div class="flex-shrink-0 dropdown" style="margin-right: 15px">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle dccd"
            style="padding-left: 13px;" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://www.gravatar.com/avatar/4072386ac5856a7da9aef2aa911fed1d?s=32&amp;d=mp"
                alt="profile picture" width="30" height="30" class="rounded-circle mtb4">
            <span class="username">vitto</span>
        </a>
        <ul class="dropdown-menu text-small shadow"
            style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(0.5px, 34px, 0px);"
            data-popper-placement="bottom-end">
            <li><a class="dropdown-item disabled" href="#">
                    <i class="bi bi-person spo"></i>
                    Vittorio Lo Mele </a></li>
            <li><a class="dropdown-item disabled" href="#">
                    <i class="bi bi-envelope-at spo"></i>
                    hi@vitto.dev </a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/logout.php">
                    <i class="bi bi-box-arrow-right spo"></i>
                    Esci
                </a></li>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-expand-lg ddcc grayy">
    <div class="container-fluid">
        <a class="logocustom" href="/">
            <img src="/assets/icons/logo-sm.png" alt="logo easymanage" width="30" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        </div>
    </div>
    <div class="flex-shrink-0 dropdown" style="margin-right: 15px">
    </div>
</nav>

<nav aria-label="breadcrumb" class="gray2 ddcc">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="bi bi-house-door spo"></i>
            <a href="/" class="alert-link">
                Home
            </a>
        </li>
    </ol>
</nav>