.navpadding {
    padding: 0 !important;
    border-bottom: 1px solid #ddd;
}

.navgray {
    background-color: #eee;
}

.logocustom {
    padding-right: 13px;
}

.bl {
    border-left: 1px solid #ddd;
    padding-left: 13px;
}

.username {
    margin-left: 5px;
    font-weight: bold;
    padding-top: 7px;
    display: inline-block;
    color: #585858;
}

.customDropDown {
    inset: 0px 0px auto auto; 
    margin: 0px;
}

.mr15 {
    margin-right: 15px;
}